[2017-02-10 16:43] tucotuco opened #1 "Issues submitted via Google Form, how to get responses back to the submitter"
Copying this management issue from https://github.com/tdwg/dwc-qa/issues/20.

kevinlove commented 3 days ago
Seems like we have discussions forming already here in the issue queue, but we need to make sure the original submitter is able to participate. Do we need to add a mechanism for this? How should this work?
 @pzermoglio
     Collaborator
 pzermoglio commented 3 days ago • edited
Easiest woul

[2017-02-10 16:45] tucotuco commented on #1
Summary,

encourage users to create GitHub logins
create introductory material (in README.md and linked video) for how to do that
create introductory material (in README.md and linked video) for how to navigate the dwc-qa repository

[2017-02-13 03:06] tucotuco opened #2 "Create page to describe how to create new Darwin Core terms"
Dependent on the ratification of the TDWG Vocabulary Management standard.

[2017-02-14 16:10] debpaul commented on #1
@tucotuco perhaps we add a field that lets those with github accounts provide their github username if they have one already?

[2017-02-14 21:26] debpaul commented on #1
@iDigBioBot can we automate assignment of label:  "form submission"

[2017-02-14 23:03] tucotuco commented on #1
Like both ideas - adding GitHub username to form and auto-generating label "form submission". Followed up with @kevinlove about these via email.

[2017-02-14 23:07] tucotuco opened #3 "Document How-to for tdwg-dwc-qa"
One idea is to have a video linked from the README.md on tdwg-dwc-qa about how to get the most out of the site, including how to get a GitHub account.

Another is to give a part of a Darwin Core Hour and use that as the video.

Maybe try the latter, and if it turns out fine, use it? If it doesn't, create a video specifically for it?

Or, create the video up front and point to it in every Darwin Co

[2017-02-14 23:09] tucotuco opened #4 "Prepare Darwin Core Hour #2 - Even Simple Is Hard"
First step, abstract to @debpaul.

[2017-02-16 17:00] tucotuco commented on #1
Done.

[2017-02-16 17:00] #1 closed

[2017-02-17 16:14] debpaul opened #5 "include chapter descriptions on webinar page"
@tucotuco @pzermoglio I think that on https://github.com/tdwg/dwc-qa/wiki/Webinars we ought to include the _chapter descriptions_. It's easy to include the link to the Calendar Announcement at iDigBio, but the webinar wiki will tell a better story if the short chapter abstract is included.

[2017-02-17 16:41] pzermoglio commented on #5
+1 Deb
I'll see to put them in, in the next hour or so

2017-02-17 13:14 GMT-03:00 Debbie Paul <notifications@github.com>:

[2017-02-17 16:43] debpaul commented on #5
Hi Paula, I can do it too - but wanted first to know if everyone liked
the idea. Don't want to make more work for you!

Deb

On 2017-02-17 11:42 AM, Paula Zermoglio wrote:

--
-- Upcoming iDigBio Events https://www.idigbio.org/calendar
-- Deborah Paul, iDigBio Digitization and Workforce Training Specialist
iDigBio -- Steering Committee Member, SPNHC Liaison, SYNTHESYS3 Representative
Institute for

[2017-02-17 19:55] pzermoglio commented on #5
Done, check out if you guys like or if I should change stuff :)
https://github.com/tdwg/dwc-qa/wiki/Webinars

[2017-02-17 19:59] debpaul commented on #5
Looks good @pzermoglio. How about adding a column to the table at the
top for "chapter" and in the column put the link to the description.

@debpaul

On 2017-02-17 2:55 PM, Paula Zermoglio wrote:

--
-- Upcoming iDigBio Events https://www.idigbio.org/calendar
-- Deborah Paul, iDigBio Digitization and Workforce Training Specialist
iDigBio -- Steering Committee Member, SPNHC Liaison, SYNTHESYS3 Repr

[2017-02-17 20:29] pzermoglio commented on #5
Done, check it out...? :)

[2017-02-19 15:01] tucotuco commented on #5
Yay!

On Feb 17, 2017 5:29 PM, "Paula Zermoglio" <notifications@github.com> wrote:

[2017-02-26 16:09] pzermoglio opened #6 "Licensing documentation"
Build documentation on licensing to include as a wiki.
Include difference between licenses for records and for media.

[2017-02-26 16:33] tucotuco commented on #4
Abstract submitted and published. Webinar "Even Simple is Hard" scheduled for 7 Mar 2017. Presentation preparation in progress.

[2017-02-27 00:07] tucotuco opened #7 "Prepare Darwin Core Hour #3 - Controlled Vocabularies"

[2017-02-27 00:10] tucotuco opened #8 "Prepare Darwin Core Hour #6 - Georeference Terms"
Seeking participation from Town Peterson and @dbloom. Tentatively scheduled as the fourth chapter in the Darwin Core Hour Series on the first Tuesday in May to cover accumulated questions about Georeference terms. Should cover the following issues

https://github.com/tdwg/dwc-qa/issues/23
https://github.com/tdwg/dwc-qa/issues/29
https://github.com/tdwg/dwc-qa/issues/30
https://github.com/tdwg/dwc-

[2017-02-27 20:04] dbloom commented on #8
@tucotuco Can do.

[2017-02-27 20:05] dbloom commented on #7
I can help with this @pzermoglio

[2017-02-27 23:39] #5 closed

[2017-02-28 17:48] tucotuco opened #9 "Capture relevant documentation for Google Code archive"
The original supplementary commentary on Darwin Core terms is captured at https://github.com/tdwg/dwc/blob/dwc_cleanup/terms/terms.md and described in
https://github.com/tdwg/dwc/issues/82. Capture everything of use from there to the [Darwin Core Question and Answer wiki](https://github.com/tdwg/dwc-qa/wiki).

[2017-03-07 19:38] tucotuco commented on #4
Presented.

[2017-03-07 19:38] #4 closed

[2017-03-07 19:40] tucotuco commented on #3
@pzermoglio made a video one "How to navigate this repository" and included it on the [README](https://github.com/tdwg/dwc-qa).

[2017-03-07 19:40] #3 closed

[2017-03-20 19:27] pzermoglio opened #10 "Prepare Darwin Core Hour #4 - preparations, establishmentMeans and extension building"
It seemed obvious from the previous webinar (DwC Hour Chapter 2) that a webinar about preparations would be most welcome.
Andy Bentley, University of Kansas Fish Curator, has offered to give the webinar on this topic.

[2017-03-23 20:52] debpaul commented on #10
Both Andy Bentley abentley@ku.edu and Quentin Groom @qgroom quentin.groom@plantentuinmeise.be have said yes to doing a joint dwc hour. Date / title to be decided. See email conversations. Topic will cover dwc:establishmentMeans and dwc:preparations. Scope is to cover concept of the birth of a new term, implementing it, noting any issues (and what next ideas) followed by the dwc:preparations data w

[2017-03-27 13:56] garymotz opened #11 "Prepare DwC Hour #10 (Nov) - Audubon Core/DwC extension implementation"
Community best practices are in (early?) development and general adoption of DwC extensions (Audubon Core, in particular) is unclear to many users of DwC

Topics for this new webinar might include:

- How to link DwC occurrence records with media records using Audubon Core
- Integration of digitized collection objects for global discoverability and accessibility
- Appropriate metadata for 3D objec

[2017-03-27 13:58] garymotz commented on #11
@pzermoglio or @tucotuco I'm unable to add labels or assign this issue to John and myself, would one of you please do this (or allow me to do it) for this issue? Thanks!

[2017-04-04 11:35] tucotuco commented on #11
@garymotz You have been added to this repository as a collaborator, but the repository is destined to by subsumed in https://github.com/tdwg/dwc.

[2017-04-08 14:40] tucotuco commented on #7
Complete.

[2017-04-08 14:40] #7 closed

[2017-04-08 14:43] tucotuco opened #12 "Prepare Darwin Core Hour #5 - IPT"
Joanna and Laura are committed to organizing this webinar topic.

[2017-04-12 01:54] tucotuco commented on #10
@tucotuco will provide Darwin Core Hour introduction and Brief Introduction about the theme that binds the two talks and why we are doing them together, which is the process of evolution of the standard for new terms and extensions

[2017-05-05 15:31] tucotuco commented on #10
Presentations completely successfully.

[2017-05-05 15:31] #10 closed

[2017-05-05 15:43] debpaul commented on #11
@garymotz  I'm going to ping lots of folks today (in efforts to schedule Aug-Sept-Oct-Nov-Dec. While we hope (imagine) this scenario currently: August-Aggregators, Sept-the TDWG-GBIF DQ group, Oct-Kurator, ... availability will be an issue. So, options are nice. I see you claimed "DwC 12" so I'm guessing that August is not really an option you want to consider?

[2017-05-05 16:14] debpaul opened #13 "DwC Hours August - December 2017 and into 2018"
Sending emails today to check availability & willingness to put together the following proposed webinars

- Aggregators (August 2017)
- TDWG-GBIF DQ (Sept 2017)
- Kurator (Oct 2017)
- Audubon Media Extension (Nov 2017) - we have a commitment from @garymotz - need date, abstract, etc.
- DwC 2017 Wrap-up (Dec 2017) - cover what's done, still to be covered, "the year in review"
- combining paleo+neon

[2017-05-05 16:15] debpaul opened #14 "Next DMIG meeting - Ticket Review"
Next DMIG meeting on DwC Hour - Formal review of all the open issues in the dwc-qa/issues pile.

[2017-05-08 16:44] garymotz commented on #11
@debpaul I'd assumed that we'd stick to our schedule of one per month and that November would likely be number 12. It is an arbitrary number, feel free to disregard! I'll do the webinar in November.

[2017-05-08 16:49] garymotz commented on #11
@debpaul True, August is not an option that I'd like to consider. I think we've got a lot of work to do in order to get ready for this presentation...including the fact that I'm hoping to be defending my dissertation in August or very shortly thereafter. August is not an option for me.

[2017-05-15 21:33] debpaul commented on #13
RESPONSE from TDWG-GBIF DQIG. They plan to discuss details for this at their upcoming May 2017 meeting in Canberra. Lee Belbin and Arthur Chapman have said yes. Currently, the times and dates are set for: 7 AM Wed Sept 6th (Tasmania time), 5 PM Tuesday Sept 5th (USA EDT), 6 PM Tuesday Sept 5th (Buenos Aires), Tues Sept 5th 21:00 UTC. NOTE the challenge to advertising across the international datel

[2017-05-15 21:37] debpaul commented on #13
Talia Karim has said yes - and suggests the following scenario. Her timeline is "fall" and we're deciding what that means exactly. She would present with co-author Virginia Scott, ENT collections mgr at CUMNH as they discuss the challenges of merging / sharing paleontological and neontological data together -  using the ENT and Paleo experience at CU as an example - and underlying this is the use

[2017-05-15 21:52] debpaul commented on #13
Email invite sent to aggregators - waiting now on RSVPs from them.

[2017-05-19 15:15] debpaul commented on #13
Aggregator DwC Hour: GBIF prefers the 2nd week of August.

[2017-06-01 17:07] debpaul commented on #13
Aggregator DwC Hour for GBIF and iDigBio set for August 15th. Added to Webinar Calendar and to iDigBio Calendar.

[2017-06-01 17:07] debpaul commented on #13
Combining Neo+Paleo will be in September 2017.

[2017-06-09 20:41] garymotz commented on #13
@debpaul We've now got Neo+Paleo scheduled in September with TDWG-GBIF DQIG already having selected a September date. Do we need to resolve the conflict or have two webinars in September?

We may need to clarify on https://github.com/tdwg/dwc-qa/wiki/Webinars.

[2017-06-09 21:11] debpaul commented on #13
2 in September 🤗

Sent from shoe (iPhone)

On Jun 9, 2017, at 9:41 PM, garymotz <notifications@github.com<mailto:notifications@github.com>> wrote:

@debpaul<https://github.com/debpaul> We've now got Neo+Paleo scheduled in September with TDWG-GBIF DQIG already having selected a September date. Do we need to resolve the conflict or have two webinars in September?

—
You are receiving this because yo

[2017-06-13 21:23] tucotuco commented on #13
VertNet available after 14 August and needs only about 20 minutes.

[2017-06-16 19:13] debpaul commented on #13
@tucotuco could you please ping Canadensys to see if they'd like to present with you - and what date works for them? (if you have time).

[2017-06-17 16:22] garymotz commented on #14
@debpaul ...so, now we mean the _next_ DMIG meeting. And would you mean a DMIG meeting dedicated to GitHub issues organization as opposed to the DMIG meetings that occur on the Friday immediately following a webinar?

[2017-06-17 16:23] garymotz commented on #12
Mission accomplished, thanks for a great demo @laurarussell

[2017-06-17 16:23] #12 closed

[2017-07-12 16:28] tucotuco commented on #8
Done.

[2017-07-12 16:28] #8 closed

[2017-07-18 15:42] garymotz opened #16 "DwC Hour #7: Aggregators - A Darwin Core View"
Abstract-

Remaining to do items:

- [x] Schedule sound/screen check
- [x] Request survey content from presenters
- [x] Send presenters feedback request to Shari and get survey link from Shari at iDigBio
- [x] Generate tinyURL for survey
- [x] Written [intro](https://github.com/VertNet/dwc-qa-manage/wiki/Webinar-Preparation-Checklist#example-webinar-introduction-script) to webinar
- [x] Prepare Ad

[2017-08-18 13:19] ekrimmel commented on #14
scheduled for Thursday, Aug 31 at 11am EST

[2017-08-23 03:12] garymotz commented on #11
We've still got to keep things moving for this webinar. To do items include:

- [x] Schedule sound/screen check
- [x] Request survey content from presenters
- [x] Send presenters feedback request to Shari and get survey link from Shari at iDigBio
- [x] Generate tinyURL for survey
- [x] Written [intro](https://github.com/VertNet/dwc-qa-manage/wiki/Webinar-Preparation-Checklist#example-webinar-intro

[2017-08-23 04:34] debpaul commented on #11
Hi @garymotz  we still need to Schedule exact date / time too?

Please have this to me before Oct 1st if possible - so that I can get it into the October iDigBio Newsletter.

[2017-08-29 00:14] tucotuco opened #17 "Improve navigation of Webinars wiki"
I keep finding that I want to go to the iDigBio announcement for a webinar and there is no link for it on the webinars page. It might be good to review navigation on this page (https://github.com/tdwg/dwc-qa/wiki/Webinars) in general.

[2017-08-31 11:36] ekrimmel commented on #17
+1

[2017-08-31 12:33] pzermoglio commented on #17
@tucotuco I see what you mean, but I'm not sure that the announcements are that important to people once the webinar is over...? They are useful to us, yes, though.
Would the following do..:
- List all announcements in the manage repo Wiki.
- List announcements of webinars that have not yet come to pass in the Q&A repo in place of the video link until the video is up to replace it.
If all agree, I

[2017-08-31 12:38] ekrimmel commented on #17
@pzermoglio I find myself needing the iDigBio announcement to check the time of upcoming webinars, and to see who presented past webinars or is presenting upcoming webinars. We could solve both of these needs by doing what you suggest, plus adding the presenters' names to the abstracts on the Q&Q wiki.

[2017-08-31 15:28] tucotuco commented on #17
Agreed to add announcement column to contain title still. Change content of presentations column.

[2017-08-31 15:32] garymotz commented on #16
Closing issue for now, unless we hear that ALA or Canadensys wishes to contribute.

[2017-08-31 15:32] #16 closed

[2017-08-31 15:33] debpaul commented on #14
This in done.

[2017-08-31 15:33] #14 closed

[2017-08-31 15:41] tucotuco commented on #9
Capture all of the content in a Google doc first and share. Deal with it from there.

[2017-08-31 15:54] tucotuco commented on #2
Demystify all distinct ways  to make change in Darwin Core.

Dag - "A process might include describe the need for a new term -- and then followed by exploring if the term is for Darwin Core or one of the other TDWG standards..."

Followup with Andy and Quentin. Follow through this process with Gary (new Audubon terms/extension) and Holly (paleo).  Definitely put this up for review with the goal th

[2017-08-31 16:00] debpaul opened #18 "Date and Prepare Kurator DwC Hour #9 (Oct 2017)"
For @tucotuco - prepare the bits needed for a DwC Hour on Kurator for October 2017.
Date, time, abstract, links, presenters, moderators, etc.
IF provided before Sept 10th, this announcement would make the September iDigBio Newsletter.

[2017-08-31 16:13] tucotuco commented on #2
Related to issue https://github.com/tdwg/dwc-qa/issues/85. Associated with the documentation could be a webinar. Or, if the documentation if sufficient and in advance, is a webinar needed.

[2017-08-31 16:15] debpaul opened #19 "Date, Assign, Prep, December DwC 2017 Wrap-up #11"
Plan December DwC 2017 cover what's done, still to be covered, "the year in review." Include feedback from TDWG 2017 meeting.

[2017-08-31 17:23] debpaul opened #20 "Date, Prep Webinar on Combining paleo+neontological data - for early 2018"
Talia Karim and Virginia L Scott Virginia.Scott@colorado.edu - have agreed to take this on for early DwC Hour 2018.

Note: dwc capturing Stratigraphy, paleobiology, isotope data sharing, zooarchaeological data (JW, et al - Rob Guralnick, Laura Brenskelle, Kitty Emory (archaeology), Michelle LeFevbre (post doc of Kitty) - Send Note to invite - DwC Hour 2018

[2017-08-31 17:25] debpaul commented on #20
Talia will present with co-author Virginia Scott, ENT collections mgr at CUMNH as they discuss the challenges of merging / sharing paleontological and neontological data together - using the ENT and Paleo experience at CU as an example - and underlying this is the use of Specify as their common database.

ABSTRACT idea: a joint presentation talking about the difference between neontologic and pale

[2017-08-31 17:29] debpaul opened #21 "Date, Prep, Webinar on DwC Geography including waterBody - 2018"
Need webinar on dwc geography including waterBody (drainage, marine division, pelagic, ...) JW 2018 (paper in progress) - DwC Hour 2018

[2017-08-31 17:35] debpaul commented on #13
all issues here either done, or new separate tickets created. closing this ticket now.
See #11, #19, #20, #21

[2017-08-31 17:35] #13 closed

[2017-08-31 17:59] debpaul opened #22 "Date, Prep, Webinar on Extensions - for 2018"
We need a webinar on extensions in general. Many tickets reference issues with understanding how to use them, where to find examples of them _in use_, and how to develop new ones. A related topic that will come up then, is how the "core" file inside the DwC-A can be different. So the webinar will certainly need to review the DwC-A. Concrete examples needed - that we can link to in documentation.

[2017-09-04 12:33] ekrimmel opened #23 "people interested in ongoing dwc:preparations discussion"
At the conclusion of [DwC Hour #4: Evolution of Darwin Core Terms and Extensions](https://github.com/tdwg/dwc-qa/wiki/Webinars#chapter4) (see dwc-qa-manage issue #10), the following people expressed a direct interest in being part of the on-going **dwc:preparations** discussion:

- Amanda Millhouse, *paleo* (millhousea@si.edu)
- Carlos Martínez, *entomology*
- Greifswald University (biotemail@gmai

[2017-09-04 12:38] ekrimmel commented on #10
Gary reports that we had 64 total participants and 19 post-webinar survey respondents for this webinar.

[2017-09-04 13:02] tucotuco commented on #23
I would add Laura Brenskelle (lbrensk@gmail.com) from UF to the list for
zooarchaeology.

On Mon, Sep 4, 2017 at 9:33 AM, Erica Krimmel <notifications@github.com>
wrote:

[2017-09-04 13:13] garymotz commented on #16
This GBIF and iDigBio webinar had 58 unique participants.
The (MorethanVert)Net webinar had 43 unique participants.

[2017-09-04 13:20] ekrimmel opened #24 "webinar metrics"
@garymotz seems to be working on recording how many participants we've had at past webinars, which I think is great (thanks, Gary!).

Would it also be worthwhile to keep track of the post webinar surveys in this repo? We could at least stash the results here just as the files from Shari, and reference the file in each webinar prep issue--then worry about parsing about valuable feedback later, as n

[2017-09-04 13:31] ekrimmel commented on #18
*discussion from [DwC Hour #7a: The Aggregator's Viewpoint - (More Than Vert)Net](https://github.com/tdwg/dwc-qa/wiki/Webinars#chapter7a)...*

**Deb Paul:** About Kurator: http://kurator.acis.ufl.edu/kurator-web/about. Kurator provides scientific workflow tools for data quality improvement of natural history collections and other biodiversity data. Kurator Web is a set of a user friendly web inter

[2017-09-04 13:33] ekrimmel commented on #18
*more discussion from [DwC Hour #7a: The Aggregator's Viewpoint - (More Than Vert)Net](https://github.com/tdwg/dwc-qa/wiki/Webinars#chapter7a)...*

**Gary Motz (Indiana Univ):** Can collection managers use the VertNet toolkit themselves to clean and high-grade collection data, especially before it goes back to the collection management software or DwC-A? Or should we just add to your growing waitl

[2017-09-04 13:37] garymotz commented on #24
@ekrimmel noted my previous mention of webinar attendees in another issue and I thought that it was a good idea. Thus, we're now building off of one another again and I will throw my full support behind her augmentation of that idea (which was hers in the first place) and say that I think that it could be exceedingly beneficial to have a centralized place for tracking the effectiveness and reach o

[2017-09-04 13:39] garymotz commented on #4
This webinar had 127 unique attendees.

[2017-09-04 13:40] garymotz commented on #8
This webinar had 66 unique attendees.

[2017-09-04 13:41] garymotz commented on #12
This webinar had 70 unique participants.

[2017-09-04 13:43] garymotz commented on #7
This webinar had 69 unique participants.

[2017-09-04 15:15] tucotuco commented on #23
We should document this somewhere and close the Issue. Issues are targeted to be action items that can be closed. Otherwise we will keep looking at it for what needs to be done, and there is nothing to do on an list like this. Make sense?

[2017-09-04 16:02] ekrimmel commented on #23
Agreed. I would see the action item here as some sort of working/interest group (that I think probably, to some extent, already exists). I would also see such a working group as beyond the direct scope of the DwC Hour group, and so IMO we could just pass this list of names on to the right person/people and close the issue (i.e. do we really need to document these on dwc-qa?) . My goal in including

[2017-09-04 16:07] garymotz commented on #23
FWIW, this group is already active and correspondence among the group listed here is already underway.

[2017-09-04 16:07] #23 closed

[2017-09-05 23:22] tucotuco opened #25 "Decide on Documentation Release Requirements"
From the post-DwC Hour discussion on 5 Sep 2017, we decided that a good way to make persistent documents for people to reference would be create GitHub releases. To make this work, we would need to assess whether capturing the existing markdown directly in a folder in Code would be a good way forward.

[2017-09-05 23:26] tucotuco opened #26 "Document Document vetting"
From the post-DwC Hour discussion on 5 Sep 2017, we decided that it would be good to use a vetting system in this repository to "sign-off" that an issue with the "answered" label has been satisfactorily documented to add a "documented" label and close the issue. This vetting system needs to be vetted and documented on https://github.com/VertNet/dwc-qa-manage/blob/master/README.md.

[2017-09-07 00:21] tucotuco commented on #18
Sent the following in email. Realize now I coulda/shoulda just done it here from the GitHub issue.

Title: Kurator Web: for Cleaner Biodiversity Data
When: Tuesday Oct 24 @ 11 AM EST, 12 PM ART, 3 PM UTC, 5 PM CEST
Where: http://idigbio.adobeconnect.com/room
Presenter: John Wieczorek Museum of Comparative Zoology, Harvard University; VertNet

Abstract:
When we think about biodiversity data and its

[2017-09-07 00:22] tucotuco commented on #18
@debpaul Ready for the September newsletter.

[2017-09-07 00:29] debpaul commented on #18
Nice! I'll get this published and see it makes the newsletter. Looking forward to this update.

Sent from my iPhone

On Sep 6, 2017, at 8:22 PM, John Wieczorek <notifications@github.com<mailto:notifications@github.com>> wrote:

@debpaul<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_debpaul&d=DwMCaQ&c=HPMtquzZjKY31rtkyGRFnQ&r=ODXYRdWm1Oqf5-w5G2NjQw&m=4u_nQHn8yqpaucZax8gJwaOUaTsq4W

[2017-09-14 19:22] debpaul commented on #18
Calendar announcement entered. See https://www.idigbio.org/content/darwin-core-hour-kurator-web-cleaner-biodiversity-data

Please note if you have a graphic (a logo for Kurator?) we could feature on the carousel front page of iDigBio.

[2017-09-14 20:19] debpaul opened #27 "After webinars - editing steps about recordings / surveys / talks"
Hello all,
Adding to the Webinar Preparation Checklist https://github.com/VertNet/dwc-qa-manage/wiki/Webinar-Preparation-Checklist

1. Section labeled "after the webinar"
2. add step that mentions recordings / rendering the mp4 versions
3. add a step that includes putting the link for the talk (preferably a copy - to avoid deletion) in the folder: DarwinCoreHour-SharedFolder: https://drive.google.

[2017-09-14 20:31] debpaul commented on #27
All above edits made but one. That is, where to put the survey feedback? Once that is decided and documented in the Webinar Preparation Checklist, we can close this issue.

[2017-09-15 01:32] ekrimmel commented on #27
create a folder in this repository for survey feedback? that way we could link the issue related to the webinar to the file containing feedback...

[2017-09-15 01:35] debpaul commented on #27
hm. For some reason, @tucotuco did not want to do that with presentations. So not sure about doing it with feedback documents. It's not the best place for documents.

[2017-09-15 01:58] ekrimmel commented on #27
that's fair--pretty sure GitHub can't display Word docs (which is how Shari collates survey results?). Google Drive has equally unlikeable features IMO, in that files are easy to accidentally delete, and easy to lose track of in a wasteland of shared Google folders.

[2017-09-15 02:00] debpaul commented on #27
yes @ekrimmel you've captured exactly why I'm also not the biggest fan of google drive. I've lost entire sets of documents because others have deleted.

[2017-09-15 02:01] garymotz commented on #27
I could upload them to my institutional repository and assign them a DOI. The only issue from there might then be authorship and citation concerns. Thoughts?

[2017-09-15 02:04] debpaul commented on #27
What about making each one a pdf (also not my favorite format - erg) but then we could have a folder here of pdfs? I believe GitHub can only display txt (csv) - and also uploaded images of course.

[2017-09-15 23:01] tucotuco commented on #18
If you want a logo, you could use the one found on

http://wiki.datakurator.org/wiki/Kurator-Web_User_Documentation

On Thu, Sep 14, 2017 at 2:22 PM, Debbie Paul <notifications@github.com>
wrote:

[2017-09-15 23:11] debpaul commented on #18
Thanks @tucotuco only it's embedded, I cannot save it as a graphic and screen capture is too low resolution to work...

[2017-09-17 16:54] tucotuco commented on #27
I like the idea of including the survey results in separate surveys folder.

[2017-10-25 14:04] debpaul commented on #18
Webinar done. Over 65 people showed up 👍 and there will be some followups for this one based on notes.

[2017-10-25 14:04] #18 closed

[2017-10-25 18:10] debpaul opened #28 "GGBN request for Darwin Core Hour Webinar"
Hi All, Just got an email from Katie Barker at the Smithsonian on behalf of GGBN (with Mike Trizna and Gabriele Droege cc'd). They'd like to participate in dwchour. Stay tuned for details.

[2017-11-14 15:39] debpaul commented on #28
Title, Abstract, Presenter Done and posted Title and Abstract to the tdwg/dwc-qa webinars page. Waiting on exact date (will be Feb or Mar 2018).

[2017-11-14 15:42] debpaul commented on #11
@garymotz I added calendar announcement at iDigBio and updated the tdwg/dwc-qa page with this title - abstract - and date. And scheduled sound check too.

[2017-11-14 15:46] debpaul commented on #11
@garymotz :-) please send @hollyel the intro notes - thanks! She'll also need the titles for both you and Doug, to introduce you both.

[2017-11-14 16:06] debpaul commented on #11
@garymotz @hollyel I've tentatively set up the adobe connect environment for next week's dwchour. You'll need to have a look at some point to make sure it's what you want.

NOTE: folks using the adobe connect environment don't always understand that they've co-opted someone else's pod. That's why sometimes when we've set it up, we go back to find it changed. IF you make a change in our POD Layouts

[2017-11-14 16:08] debpaul commented on #11
Hi again @hollyel  - the script for the intro (it's a sample - you'll need to edit) can be found [here](https://github.com/VertNet/dwc-qa-manage/wiki/Webinar-Preparation-Checklist#example-webinar-introduction-script)

[2017-11-14 16:13] debpaul commented on #28
Checklist to keep things moving for this webinar. To do items include:
- [x] Date and time = 21 February 2018 5 PM CET (11 AM EST, 1 PM Buenos Aires)
- [x] Title
- [x] Abstract
- [x] Presenter/s
- [x] Relevant links and reading materials
- [x] Moderator/s
- [x] iDigBio Calendar Announcement
- [x] add tdwg/dwc-qa/wiki/Webinars entry
- [x] Schedule sound/screen check
- [x] Request survey content fro

[2017-11-14 16:18] debpaul commented on #27
@tucotuco in what format (.doc .pdf)? and where?

[2017-11-15 17:41] debpaul commented on #11
Short post webinar survey URL created: http://bit.ly/dwchour3D

[2017-11-17 13:58] tucotuco commented on #27
PDFs? In a folder for surveys. But, on https://github.com/VertNet/dwc-qa-manage or on https://github.com/tdwg/dwc-qa?

[2017-11-29 21:16] debpaul commented on #11
This webinar is done. But I leave it up to @garymotz and Doug Boyer to get together with @baskaufs, Bob Morris and others regarding working on the Audubon Core standard proposed additions needed for sharing 3D data. @garymotz at some point (after TDWG 2018 perhaps) it would be great to get an update.

[2017-11-29 21:16] debpaul commented on #11
Closing this ticket.

[2017-11-29 21:16] #11 closed

[2017-11-29 21:19] debpaul commented on #19
Some to-do's
- [x] Schedule sound/screen check
- [x] Request survey content from presenters
- [x] Send presenters feedback request to Shari and get survey link from Shari at iDigBio,
  in progress
- [x] Generate tinyURL for survey
- [x] Written [intro](https://github.com/VertNet/dwc-qa-manage/wiki/Webinar-Preparation-Checklist#example-webinar-introduction-script) to webinar
- [x] Prepare AdobeConn

[2017-12-03 17:14] tucotuco commented on #22
Review whether this is still necessary, given the Extensions mini-hour given at TDWG 2017.

[2017-12-03 17:20] tucotuco opened #29 "Create Vimeo of TDWG 2017 Darwin Core Hour session"
AdobeConnect can be found at http://idigbio.adobeconnect.com/pnfbmfmo2uvh/

[2017-12-03 17:24] tucotuco opened #30 "Create Shared Presentations for TDWG 2017 Darwin Core Hour"
Entries have been made on the Webinars wiki page (https://github.com/tdwg/dwc-qa/wiki/Webinars) for the TDWG 2017 Standards in Action and bonus Darwin Core Extensions mini-hour. We need publicly shared Google Presentations for these and link to them in the wiki page both in the table at the top and in the Chapter entry below.

[2017-12-03 23:02] pzermoglio commented on #30
Presentations uploaded to the Google Drive folder and linked in the wiki were appropriate.
Closing issue.

[2017-12-03 23:02] #30 closed

[2017-12-04 01:33] ekrimmel commented on #24
We have the number of unique survey participants recorded as a comment after each webinar prep issue (e.g. #11). Do we also want to post this with [on the Q&A site wiki](https://github.com/tdwg/dwc-qa/wiki/Webinars)? If so, I would imagine it going along with the webinar abstract and recording links for each, e.g. in here:

I do not have a strong opinion either way on whether or not we want to add

[2017-12-04 04:19] debpaul commented on #28
Gabriel Dröge is offering several dates to choose from
21st February
22nd February
28th February
1st March
at: 11 am Washington (EST) / 5pm Berlin time.

I'm waiting now for feedback from Talia on Paleo+ Neontological Data webinar date preference.

[2017-12-04 04:25] debpaul commented on #27
@tucotuco @ekrimmel perhaps we put the feedback in a folder on VertNet/dwc-qa-manage, but then put a link on /tdwg/dwc-qa to the folder?

[2017-12-04 04:46] debpaul commented on #22
@tucotuco I believe we need one - a webinar on extensions that is. Especially one where we can point to examples of particular extensions in use. As part of a greater strategy - we need to share Paula's mini-hour widely via SPNHC for example. The TDWG audience (most anyway) likely get extensions. The SPNHC audience hasn't really seen this yet. It's one of the reasons I suggested we figure out how

[2017-12-04 06:24] dagendresen commented on #22
I believe that a large part of confusion around extensions is because the data-package format DwCArchive use the name Darwin Core... The zippd DwCArchive files (for the GBIF IPT) would much more appropriately be named **Biodiversity Data Archive (BDA)** - or similar. People tend to mix up Darwin Core-extensions and DwCArchive-extensions.

One the second topic: I love the idea of getting support fo

[2017-12-04 18:21] debpaul commented on #19
- [x] create mp4 from Adobe Connect Recording (@ekrimmel  can you do this?)
- [x] link adobe connect recording on Webinars page http://idigbio.adobeconnect.com/pu48ho08pl43/
- [x] link mp4 recording to Webinars page

[2017-12-04 19:16] ekrimmel commented on #19
Yep!

[2017-12-04 19:18] ekrimmel commented on #29
I made the recording of both Deb's presentation and the mini DwC Hour--it's still only 30 minutes and I think nice to have both.

@kevinlove mp4 is [here](https://www.dropbox.com/s/1f31dtsccqhhd1e/DwC-at-TDWG-2017.mp4?dl=0), if you have a chance to add it to Vimeo. Thanks!

[2017-12-04 19:23] kevinlove commented on #29
The mp4 has been uploaded to Vimeo, you can access it here:

https://vimeo.com/245787301

[2017-12-04 19:30] debpaul commented on #29
Thank you @kevinlove!

[2017-12-04 19:33] tucotuco commented on #29
Thanks very much, peops.

[2017-12-04 19:33] #29 closed

[2017-12-04 19:35] debpaul commented on #29
Added this vimeo link to the webinars wiki.

[2017-12-05 12:55] ekrimmel commented on #19
[Link to webinar recording](https://www.dropbox.com/s/301kbae0pn87t5i/DwC%20Hour%20-%20Community%20Planning%20for%202018_96_0.mp4?dl=0).

@kevinlove, for Vimeo when you have a chance. Thanks!

[2017-12-05 14:58] kevinlove commented on #19
Added to Vimeo:
https://vimeo.com/245929146

@ekrimmel Can you use one of the default resolution when using the "Make Offline" feature? 3840 × 1448 is a non-standard resolution and creates scaling issues

[2017-12-05 15:10] debpaul commented on #19
Thanks @ekrimmel for rendering the video! @garymotz and I don't seem to be able to do it anymore :-(
Thanks @kevinlove for adding to vimeo - and guidance on the resolution issue. Closing this ticket.

[2017-12-05 15:10] #19 closed

[2017-12-05 15:14] debpaul commented on #17
The "relevant links" information - shared for each webinar, is another resource we gain when linking to the announcements. I'll start this now change now and see how it goes. We can tweak the format. I can't quite remember what we said for how the presentation (slides) column should look.

[2017-12-05 15:27] ekrimmel commented on #19
Sure thing @kevinlove! 3840 × 1448 *is* the default when I use the AC add-in, but I'm happy to change it to something better. What's better?

[2017-12-05 16:14] debpaul commented on #17
@tucotuco @pzermoglio @ekrimmel @garymotz @dagendresen @hollyel
- [x] Deb added column to the https://github.com/tdwg/dwc-qa/wiki/Webinars table.
- [ ] To be done: add presenter names, - where? with the abstracts?, in a column?

[2017-12-05 16:40] debpaul commented on #27
@tucotuco @ekrimmel @garymotz @pzermoglio @dagendresen @hollyel I've added a folder, see https://github.com/VertNet/dwc-qa-manage/tree/master/webinar-surveys with all the post-webinar surveys. They are in .docx format. Do we need PDF? I also added a post-webinar-survey.md file to explain the folder contents.

[2017-12-05 16:48] tucotuco commented on #27
Excellent. Hmmm. I suspect only one or the other format is sufficient. PDF might be more readily viewable in general and a better choice. Is it worth the effort though?

[2017-12-05 16:53] tucotuco commented on #17
I like what you have done with the columns.  To me it seems reasonable to put the presenters in the area below with the abstracts.

[2017-12-05 16:53] debpaul commented on #27
fairly easy to generate pdfs - just wanted to get the originals in there

On 2017-12-05 11:48 AM, John Wieczorek wrote:

--
-- Upcoming iDigBio Events https://www.idigbio.org/calendar
-- Deborah Paul, iDigBio Digitization and Workforce Training Specialist
iDigBio -- Steering Committee Member, SPNHC Liaison and Member-At-Large, SYNTHESYS3 Representative
Institute for Digital Information, 234 LSB
Fl

[2017-12-05 17:17] tucotuco commented on #22
@dagendresen About the many-to-many relationships, it would be great to have someone (Tim Robertson) talk about the W3C "CSV on the Web" standard (https://www.w3.org/standards/techs/csv#w3c_all), for which there is a Darwin Core Archive use case:

https://www.w3.org/TR/2016/NOTE-csvw-ucr-20160225/#UC-PublicationOfBiodiversityInformation

[2017-12-05 17:46] dagendresen commented on #22
+1

[2017-12-06 01:38] ekrimmel commented on #27
looks good, Deb! I think PDFs are nice but I don't think necessary.

[2018-01-09 20:48] debpaul commented on #28
See that I've updated the checklist above. Calendar Announcement done see: https://www.idigbio.org/content/darwin-core-hour-making-dna-and-tissue-collections-available-using-ggbn-extensions-ipt

[2018-01-31 14:40] debpaul commented on #28
FYI Specify will join this GGBN Webinar - to advertise that Specify now exports genetic/genomic data mapped to GGBN - for DwC-A packaging.

[2018-01-31 14:45] debpaul commented on #27
Closing this - all issues dealt with.

[2018-01-31 14:45] #27 closed

[2018-01-31 14:46] debpaul commented on #24
We could also create a table that stores the total number of participants for each webinar  - as in unique IP addresses. That's a statistic we can get from Adobe Connect.

[2018-01-31 14:55] debpaul commented on #17
@tucotuco @pzermoglio @ekrimmel @garymotz @dagendresen @hollyel anything else need tweaking on this webinar page navigation? For example @tucotuco, you suggest that perhaps we put the presenters' names with the abstracts?

[2018-01-31 14:58] debpaul commented on #2
I'd say yes @tucotuco - a webinar is needed. Advertising the documentation resource - and being there to discuss / explain - priceless.

[2018-01-31 15:07] debpaul opened #31 "Darwin Core Hour Notes - Google Doc getting large - tracking next steps challenging"
Our [Google Doc for Darwin Core Hour note-taking](https://docs.google.com/document/d/1S_MzK5qhZVxGRNYDp6aslA2jZ-zo6m-KufLBqvc9IFY/edit?usp=sharing) AND for our after-event meetings is getting rather large and perhaps a bit unwieldy. Suggestions please for improving this process?

Some ideas:

- for 2018 we start a new Google Doc
- create a separate wiki page for all upcoming webinar ideas / possib

[2018-01-31 15:40] debpaul opened #32 "Occurrence vs Sampling Event - Explaining different core types - Webinar needed"
From August 2017 webinar:

**John Wieczorek**: The limitation is the star schema. **Annie Simpson**: That is fine for now; it is much more complex than I had initially thought however.

**Webinar idea**: The "Core" in a Darwin Core Archive
as in, (possible sample abstract)

We need to also create a resource somewhere on the Wiki - that has links to sample DwC-A example files with different cores.

[2018-02-22 15:23] tucotuco commented on #31
I think ideas could come out as issues, which are made for tracking. It
might not be a bad idea to have one doc per year. The benefit of having
notes for multiple webinars is the searching, in case one can't remember
when it came from.

On Jan 31, 2018 12:09 PM, "Debbie Paul" <notifications@github.com> wrote:

[2018-02-22 16:09] debpaul commented on #31
Works for me @tucotuco. To Do's
- [x] Create new Google Doc for our 2018 Webinars
https://docs.google.com/document/d/1rL6KwWSs8SiNmBjkXDeJgOI2QxqIFBE0X9p9NaiSSYM/edit?usp=sharing
- [x] Link the 2017 and 2018 google docs to each other
- [ ] Link these Google Docs in this / and tdwg-qa repo - where?
- [ ] We may add an "idea" tag to issues? (b/c they're not necessarily a webinar)
- [ ] Do we need to

[2018-03-12 15:02] debpaul commented on #28
last bits to be done - need to render the mp4 and update links to these recordings on the iDigBio Announcement and the DwC Hour Webinar Page

[2018-03-12 15:07] debpaul opened #33 "Checklist for Webinar: The problem of time, scheduled for April 24th 2018"
Checklist for webinar The Problem of Time: Dealing with Paleontological and Zooarchaeological Specimens in Darwin Core, scheduled for April 24, 2018

To do items include:

- [x] Date and time
- [x] Title
- [x] Abstract
- [x] Presenter/s
- [x] Relevant links and reading materials
- [x] Moderator/s
- [x] post iDigBio Calendar Announcement
- [x] add tdwg/dwc-qa/wiki/Webinars entry, link iDigBio Calen

[2018-03-13 16:29] ekrimmel commented on #28
i'll volunteer to render to this mp4 and update links

[2018-03-13 16:39] debpaul commented on #28
Thanks!!! you are a good egg.

Deb

On 2018-03-13 4:29 PM, Erica Krimmel wrote:

--
-- Upcoming iDigBio Events https://www.idigbio.org/calendar
-- Deborah Paul, iDigBio Digitization and Workforce Training Specialist
iDigBio -- Steering Committee Member
SPNHC Liaison, Member-At-Large and Member International Relations Committee
SYNTHESYS3 Representative
Institute for Digital Information, 234 LSB
Fl

[2018-03-16 16:45] ekrimmel commented on #28
recording [made](https://vimeo.com/245929146) and added to webinar wiki

[2018-05-08 13:50] pzermoglio opened #34 "Darwin Core in Spanish - Webinar"
Checklist to keep things moving for new webinars. To do items include:

- [ ] Date and time - _in progress_ Possibly August
- [x] Title
- [x] Abstract
- [ ] Presenter/s - _in progress_ SIBColombia, GBIF Spain, GBIF Latin America Regional representative, Town Peterson
- [ ] Relevant links and reading materials
- [ ] Moderator/s - Paula so far
- [ ] post iDigBio Calendar Announcement
- [ ] add tdwg/

[2018-05-08 19:48] debpaul commented on #28
closing this ticket

[2018-05-08 19:48] #28 closed

[2018-05-08 19:54] debpaul commented on #32
Getting at Core Types  (what they are and the need for them) can be at least partially addressed also in the webinars on Taxon vs Occurrence

[2018-05-08 19:55] debpaul commented on #32
See also https://github.com/VertNet/dwc-qa-manage/issues/22

[2018-05-08 19:57] debpaul commented on #20
Currently on hold - as they have no time to do this. Will try to remember to talk to Talia about this at Digital Data II meeting in June.

[2018-05-08 20:00] debpaul opened #35 "ABCD and DwC (and ABCD-EFG) - Compare and discuss"
Deb is reaching out to Dimitris Koureas and Wouter Addink. Dag is talking with Walter Berendsohn and Jurg Holtcheck. The the exact focus to be decided.

Checklist to keep things moving for new webinars. To do items include:

- [ ] Contact would-be presenters
- [ ] Date and time
- [ ] Title
- [ ] Abstract
- [ ] Presenter/s
- [ ] Relevant links and reading materials
- [ ] Moderator/s
- [ ] post iDig

[2018-05-08 20:06] debpaul opened #36 "Issues Using Georeferenced Data - the Researcher's point of view"
When researchers use georeferenced data, they run into some known and unknown challenges. This webinar shares and extends the conversation on these issues. Erica is reaching out to Austin Hendy. Deb can also add the GRU workshop experience - which addressed a lot of the issues to be discussed. Late June or sometime in July.

Checklist to keep things moving for new webinars. To do items include:

-

[2018-05-08 20:10] debpaul opened #37 "Showcase the New DwC Pages"
John has offered to do this webinar. When the new DwC page/s are up (sometime before TDWG2018), this can be scheduled.

Checklist to keep things moving for new webinars. To do items include:

- [ ] Contact would-be presenter
- [ ] Date and time
- [ ] Title
- [ ] Abstract
- [ ] Presenter/s
- [ ] Relevant links and reading materials
- [ ] Moderator/s
- [ ] post iDigBio Calendar Announcement
- [ ] ad

[2018-05-24 00:11] debpaul opened #38 "DwC Hour on Standards from a DiSSCo Point of View"
Checklist to keep things moving for new webinars. To do items include:

- [ ] email invitation sent
- [ ] reply
- [ ] Date and time
- [ ] Title
- [ ] Abstract
- [ ] Presenter/s
- [ ] Relevant links and reading materials
- [ ] Moderator/s
- [ ] post iDigBio Calendar Announcement
- [ ] add tdwg/dwc-qa/wiki/Webinars entry, link iDigBio Calendar Announcement
- [ ] Schedule webinar (at https://idigbio.

[2018-05-24 00:15] debpaul commented on #38
Dimitris Koureas says yes. Quote:

I shared we would be pleased to have this presentation - exposing not only other standards beyond DwC, but the process and thinking when looking into the standards needed to support DiSSCo.

Dates, etc., to be decided.

[2018-05-24 00:17] debpaul commented on #35
Walter Berendsohn says yes. Quote:

I replied that fall would be just fine and to please send some potential dates.

[2018-05-24 12:48] dagendresen commented on #35
The focus of an ABCD DwC Hour might be along the lines of (1) origin, history, motivation and purpose for creating the ABCD, (2) new features with the upcoming version 3, https://abcd.biowikifarm.net/wiki/, (3) complementarity with Darwin Core, (4) mapping to Darwin Core including perhaps terms missing in respectively DwC/ABCD, (5) user communities for ABCD (including BioCASE) versus user groups f

[2018-06-01 16:11] ekrimmel commented on #33
team can review webinar conversations during July workday

[2018-06-01 16:11] #33 closed

[2018-06-04 21:04] tucotuco opened #39 "Gather 2018 Distinct Value lists"
Our distinct value lists from 2017 are more than a year old now. We intended to try to make annual copies of these, so any time now will be good to gather these again.

John can do this for VertNet and request it of GBIF.

[2018-06-04 21:14] debpaul commented on #39
Thanks John - I’ll reach out to iDigBio again and see if ALA will join us now.

Sent from Shoe (my iPhone)

On Jun 4, 2018, at 2:04 PM, John Wieczorek <notifications@github.com<mailto:notifications@github.com>> wrote:

Our distinct value lists from 2017 are more than a year old now. We intended to try to make annual copies of these, so any time now will be good to gather these again.

John can do

[2018-06-04 23:16] Tasilee commented on #39
Thanks Deb: I have notified our lead ALA developer Nick Dosremedios about this.

[2018-06-04 23:23] tucotuco commented on #39
I have made the request to Tim Robertson at GBIF who put them together for us last time. I'll work on the VertNet values.

[2018-06-05 05:24] nickdos commented on #39
I'm happy to generate such lists from the ALA. Is there is set of DwC fields (and/or non-DwC fields) that I can use to query with?

[2018-06-05 15:41] tucotuco commented on #39
Thanks, Nick. We have been trying to gather distinct value lists for terms
(with count) for Occurrences that might benefit from controlled
vocabularies. Here is a list of what others have been summarizing:

basisOfRecord
continent
countrycode
country
day
disposition
establishmentMeans
geodeticDatum
georeferenceVerificationStatus
identificationQualifier
identificationVerificationStatus
islandGroup

[2018-06-05 15:51] debpaul commented on #39
Yes please Nick, if you are also willing/able to share the indexes versions - that would be great. These are super useful for helping people to understand indexing...(and more).

Excited to have you on board. Thank you.

Sent from Shoe (my iPhone)

On Jun 5, 2018, at 8:41 AM, John Wieczorek <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks, Nick. We have been trying to gat

[2018-06-05 16:06] tucotuco commented on #39
It might also be interesting for all of us to add distinct values for the
year term.

On Tue, Jun 5, 2018 at 12:51 PM, Debbie Paul <notifications@github.com>
wrote:

[2018-06-05 16:12] debpaul commented on #39
That would be most useful, instructive, and entertaining
Deb

Sent from Shoe (my iPhone)

On Jun 5, 2018, at 9:06 AM, John Wieczorek <notifications@github.com<mailto:notifications@github.com>> wrote:

It might also be interesting for all of us to add distinct values for the
year term.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://urldefens

[2018-06-05 17:40] tucotuco commented on #39
VertNet distinct values added in commit https://github.com/tdwg/dwc-qa/commit/449824b992c74a351e94b3f4d4b6330fb5711e86.

[2018-07-02 16:04] ekrimmel opened #40 "Taxon and Identification"
From https://github.com/tdwg/dwc-qa/issues/118

**What parts of DwC taxon terms apply to an occurrence vs. a scientific name?**
Could be good two-part, back-to-back series: (1) dealing with terms in DwC - how do you put the names on occurrences? (2) what has happened in practice between taxon cores and occurrence cores and the challenges that has created. Possible presenters could be Richard Pyle

[2018-07-02 16:17] debpaul commented on #40
also, would be worth mentioning the Identification History Extension https://github.com/tdwg/dwc-qa/issues/122 at this webinar too b/c people are going to ask... So if we are going to do a webinar on this particular Extension, where does it fit in the series?

[2018-07-02 17:39] hollyel commented on #22
Also see https://github.com/tdwg/dwc-qa/issues/122

[2018-07-04 01:39] nickdos commented on #39
I've managed to pull out unique values for a subset of fields from the ALA SOLR index. We don't index all fields, so the missing fields might be able to be generated via a Cassandra (I don't know how to). I figured this subset would be a good start and our next major release should include all DwC fields (we're moving to a clustered architecture to handle the bigger data).

Should I attach the TXT

[2018-07-04 02:44] tucotuco commented on #39
Hi Nick, That's great. If you clone or fork the tdwg/dwc-qa repository,
create a new branch, add a folder for ALA, add the files to that folder,
commit, push and make a pull request, that would be ideal.

On 22:39, Tue, Jul 3, 2018 Nick dos Remedios <notifications@github.com>
wrote:

[2018-07-06 16:42] ekrimmel commented on #36
Austin Hendy (Collections Manager at NHM Los Angeles) can present [something similar to his talk](https://www.idigbio.org/wiki/images/2/29/1_iDigBio_Berkeley_Hendy.pdf) from the Berkeley Digital Data mtg, but timeline is not until late 2018 or early 2019.

[2018-07-12 02:24] nickdos commented on #39
Hi @tucotuco, I've created another PR with some changes, including the suggested readme file, using sub-directories with date, as well as indicating "index" values in the file name, similar to how iDigBio does it.

[2018-07-31 18:44] debpaul commented on #22
@timrobertson100 we'd like to invite you to talk about the W3C efforts to make CSV a standard recognized data type. Are you up for this? Please?

[2018-10-15 15:59] debpaul opened #41 "An Attribution Darwin Core Extension: What Would That Look Like?"
Checklist to keep things moving for new webinars. To do items include:

- [ ] Date and time
- [ ] Title
- [ ] Abstract
- [ ] Presenter/s
- [ ] Relevant links and reading materials
- [ ] Moderator/s
- [ ] post iDigBio Calendar Announcement
- [ ] add tdwg/dwc-qa/wiki/Webinars entry, link iDigBio Calendar Announcement
- [ ] Schedule webinar (at https://idigbio.adobeconnect.com/
- [ ] Schedule sound/s

[2018-10-15 16:53] debpaul commented on #41
to @tdwg/dwc-qa **volunteers** needed to do:

1. sound check
2. send out emails
3. moderate - 29 Oct 2018 11 AM EDT (10 Central, 9 Mountain, 8 Pacific), 12 noon Buenos Aires

Please and thanks! @debpaul

[2018-10-18 16:24] ekrimmel commented on #41
I am happy to do sound check/emails/moderate this webinar

[2018-10-22 19:13] debpaul commented on #41
sound check done. went well. Anne will be using google slides. thanks @ekrimmel for moderating!

[2018-10-25 13:53] ekrimmel commented on #41
@debpaul would you pass along the survey link from Shari please?

[2018-10-25 15:25] debpaul commented on #41
https://tinyurl.com/DwCattributionext<https://urldefense.proofpoint.com/v2/url?u=https-3A__tinyurl.com_DwCattributionext&d=DwMFaQ&c=HPMtquzZjKY31rtkyGRFnQ&r=ODXYRdWm1Oqf5-w5G2NjQw&m=vZelAywy89qTUZNPOWJ9Qjknmc1V310a_Dkc_atF6BU&s=KWf6aVKm-I0cN8Fybt1bKU5jR-OAB30ayY2jvOuglvM&e=>

[2018-10-25 15:27] debpaul commented on #41
Hm. The new fad of URL defense means it is somewhat challenging (British understatement) to share links. So I'll add the Survey link here as code. I think that will work.
`https://tinyurl.com/DwCattributionext`

[2018-10-29 20:03] debpaul commented on #41
I added the Adobe Connect URL to the wiki page.
The MP4 version needs rendering.

[2018-10-29 20:04] debpaul commented on #41
Sent a note to Anne Thessen to ask for a non-editiable, view only copy of the slides.

[2018-10-30 13:25] ekrimmel commented on #41
I rendered and Kevin uploaded the MP4 to Vimeo. All links (including non-editable slides) added to wiki.

[2018-10-30 15:40] debpaul commented on #41
Many thanks @ekrimmel @kevinlove

[2019-11-20 19:31] ekrimmel opened #42 "Challenges for paleo taxonomy in DwC"
**How can paleo collections better share taxonomic data?** Paleo taxonomy is complicated by taxa where the higher classification is uncertain and by identifications which can only be made to a rank e.g. subfamily, which does not have a DwC equivalent. These complications lead to situations where paleo taxonomic data published on aggregators (iDigBio, GBIF) gets "cleaned" with results that are unpr

[2019-11-20 19:35] ekrimmel commented on #42
@hollyel @tkarim edit or add to this as you see fit!

[2020-02-03 15:32] debpaul commented on #35
This Darwin Core Hour, now in process, likely to be either the second or third week of March 2020.

[2020-02-03 19:16] debpaul commented on #35
I should point out (and perhaps we do need a different ticket), considering the proposed Darwin Core Hour in motion will be about BioCASe (including GGBN Gabriele D. and ABCD standards leader David Fitchmeuller). But will not necessarily focus on EFG.

[2020-03-24 16:14] ekrimmel opened #43 "BioCASe Provider Software - the Hands-on Session"
Checklist to keep things moving for new webinars. To do items include:

- [x] Date and time
- [x] Title
- [x] Abstract
- [x] Presenter/s
- [x] Relevant links and reading materials
- [ ] Moderator/s
- [x] post iDigBio Calendar Announcement
- [x] add tdwg/dwc-qa/wiki/Webinars entry, link iDigBio Calendar Announcement
- [x] Schedule webinar in Zoom
- [ ] Schedule sound/screen check
- [ ] Request surv

[2020-03-24 16:27] ekrimmel commented on #43
closing and opening a new issue to test new issue template format

[2020-03-24 16:27] #43 closed

[2020-03-24 16:28] ekrimmel opened #44 "BioCASe Provider Software - the Hands-on Session"
To do prior to the webinar:

- [x] determine date and time
- [x] determine title
- [x] determine presenter/s
- [x] get abstract from presenter/s
- [x] collect relevant links and reading materials
- [ ] determine moderator/s
- [x] post [iDigBio calendar announcement](https://www.idigbio.org/calendar)
- [x] add webinar entry to the [DwC Hour wiki](https://github.com/tdwg/dwc-qa/wiki/Webinars)
- [x]

[2020-03-24 16:29] ekrimmel commented on #44
iDigBio calendar announcement: https://www.idigbio.org/content/darwin-core-hour-biocase-provider-software-hands-session

[2020-03-24 16:29] ekrimmel commented on #44
DwC Hour wiki entry: https://github.com/tdwg/dwc-qa/wiki/Webinars#chapter16

[2020-04-07 05:18] debpaul opened #45 "Imagining a Georeference Gazetteer Service"
To do prior to the webinar:

- [ ] determine date and time
- [ ] determine title
- [ ] determine presenter/s
- [ ] get abstract from presenter/s
- [ ] collect relevant links and reading materials
- [ ] determine moderator/s
- [ ] post [iDigBio calendar announcement](https://www.idigbio.org/calendar)
- [ ] add webinar entry to the [DwC Hour wiki](https://github.com/tdwg/dwc-qa/wiki/Webinars)
- [ ]

[2020-04-07 05:24] debpaul commented on #45
Coming from @pzermoglio and Julie Allen
- date (after WeDigBio Lite, expect late April)
- time
- title
- abstract
- materials links
- survey review

Novel DwC Hour to include a follow-up BBQ just after the Webinar.
- will need a special announcement and explanation session to those that attend BBQ.

[2020-04-09 16:54] ekrimmel commented on #44
Erica will moderate.

No sound check since these presenters just presented.

Short link to the survey is: [https://fla.st/2Rp7e29](https://fla.st/2Rp7e29)

Intro presentation slides are [here](https://docs.google.com/presentation/d/1buCSgHkbC9N_pjBPuTxOTex1Wr5otBADZS3oWPfITes/edit#slide=id.g1b310b3c5b_0_177). Remember to present in Google Slides + Chrome and turn on closed captioning.

[2020-04-17 19:32] debpaul commented on #44
Sound check was done with @ekrimmel since the presenters now at home (not at work) due to COVID-19.

[2020-04-20 20:24] debpaul commented on #45
Plans in place for this event for first week of May 2020. Details to follow soon.

[2020-04-23 06:47] pzermoglio opened #46 "Update email advertisement"
Email advertisement template needs to be updated
https://github.com/VertNet/dwc-qa-manage/blob/master/email_advertisement.md
Eg, replace adobe connect for zoom

[2020-04-28 05:57] pzermoglio commented on #45
Updated To Do list with some done things:
* title updated
* dates and times defined
* abstract & relevant links: see http://tiny.cc/9sbxnz, ready to send announcement
* presenters & moderator defined
* post-webinar survey. Prepared in Google forms: see  https://forms.gle/q1nByAavRJY2CMka8. Includes general questions as always plus some questions for the current webinar.

[2020-05-01 20:16] pzermoglio commented on #45
Updated To Do list.
Entry in DwC Hour wiki done.
Sound check scheduled.
First advertisement round done.
Also updated the title of this ticket to match the actual title of the webinar.

[2020-05-04 00:27] pzermoglio commented on #45
Updated To Do list.

- 24hs announcement out
- Prepare intro slide deck for webinar, including updated survey link (http://tiny.cc/dwchourGeoref). These are included in the ppt to the webinar, at least for now.

[2020-05-05 21:21] debpaul commented on #45
Uploaded to Vimeo, added Vimeo link to Webinar list and abstract.
To @pzermoglio please put slides in the DwC-Hour shared folder so you / me someoone can link to the Webinars page? Muchas gracias :-)

[2020-05-06 01:11] debpaul commented on #45
Shall we close this now? or after BBQ2?